@import '../../style/variables';

.update-product-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;

  .update-product-page {
    width: 50%;
    padding: 1rem;
    box-shadow: $card-shadow;
  }
}
